@import "tailwindcss";



html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-red-hat-display), sans-serif;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
} 


